.topImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

.topDiv {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-content: space-evenly;
  padding: 32px;
  border-bottom: 1px solid #dfe1e6;
}

button {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.header {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    color: darkslategray;
    font-size: 35px;
    font-weight: bold;
}

.imageDiv {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-content: space-around;
}

.thirdDiv {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-content: space-around;
}

.fourthDiv {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-content: space-around;
}

.fifthDiv {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-content: space-around;
}

.gamesImages{
  width: 250px;
  height: auto;
}

.moviesImages{
  width: 250px;
  height: auto;
}

.musicImages{
  width: 250px;
  height: auto;
}

.imageText {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-content: space-around;
    padding-bottom: 40px;
    font-style: italic;
}

.grandFlood {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: auto;
}

.p1 {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom:0px;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
  color: darkslategray;
  font-size: 29px;
}

.p2 {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 50px;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
  color: darkslategray;
  font-size: 29px;
}

.sixthDiv {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-content: space-evenly;
  padding-bottom: 75px;
}

.seventhDiv {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-content: space-evenly;
  padding-bottom: 75px;
}

.eighthDiv {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-content: space-evenly;
  padding-bottom: 75px;
}


img {
  transition: 1s ease;
}

img:hover {
  border-radius:50%;
  transition: 1s ease;
}

button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  background-color: #FFFFFF;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover {
  background-color: 	lavenderblush
}

button:active {
  background-color: 	lavenderblush;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
